/* COMMON */

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: #34495e;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.cta-button {
    min-width: 200px;
    color: white;
    background-color: #f1c40f;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.cta-button:hover {
    background-color: #ffe169;
}

.cta-button--big {
    min-width: 250px;
    font-size: 2em;
    padding: 1rem;
}

/* END OF COMMON */

/* NAV */

.nav {
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav__links {
    list-style: none;
    margin: 0;

    display: flex;
    justify-content: center;
}

.nav__link {
    height: 50px;
    min-width: 150px;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    background-color: #34495e;
}

.nav__link--active {
    background-color: rgba(59, 76, 93);
}

/* END OF NAV */

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/hero.jpg);
}

.hero__info {
    color: white;
    text-align: center;
}
/* END OF HERO */

/* FEATURES */

.features {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.feature {
    flex-basis: 33.333%;
    padding: 1rem;
    text-align: center;
}

.feature__icon {
    width: 50px;
}

/* END OF FEATURES */


/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f1c40f;
    color: white;
}

.about__container {
    display: flex;
}

.about__text, .about__image {
    flex-basis: 50%;
    padding: 0 2rem;
}

.about__header {
    margin-top: 0;
}

.about__image-container {
    width: 100%;
    height: 250px;
    background-image: url(../img/team.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* END OF ABOUT */


/* TESTIMONIALS */

.testimonials {
    padding-top: 2rem 0;
    display: flex;
}
.testimonial__arrow {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__arrow-image {
    width: 25px;
    height: 25px;
}


.testimonial {
    flex-basis: 80%;
    text-align: center;
}

.testimonial__text {

}

.testimonial__rule{
    margin: 2rem auto;
    width: 30%;
    min-width: 200px;
}

.testimonial__avatar {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.testimonial__name {

}

/* END OF TESTIMONIALS */


/* CONTACT */



/* END OF CONTACT */